<div id="<%= dom_id sistema_reporte %>">
    <div class="container justify-content-center">
      <div class="col-lg">
        <div class="card text-center">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">descripcion</p>
                </div>
                <div class="col-sm-9">
                <p class="text-muted mb-0">
                  <%= sistema_reporte.descripcion %>
                </p>
              </div>
            </div>       
            <hr>
             <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Severidad</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                  <%= sistema_reporte.severidad%>
                </p>
              </div>
            </div>

            
      <div class="card text-center containerFoto">
        <div class="container-fluid">
          <div>
            <h3 class="fs-4 text-start">Pruebas presentadas</h3>
          </div>
          <% sistema_reporte.images.each do |images| %>
          <div class="container-fluid">
            <div class="row justify-content-center containerFoto">
              <%= image_tag(images,class:"img-fluid",style:"width:40%")%>
            </div>
          <% end %>
          </div>
        </div>
      </div>

            </div>
          </div>
          <% if sistema_reporte.finalizado==false then %>
            <% if current_user.su? && current_user.id == @sistema_reporte.su_id%>
              <div class="btn-group botones" role="group">
                <%= link_to 'Finalizar sin multa',  sistema_reportes_finalizar_path(sistema_reporte),class:"btn btn-outline-success" %>
                <%= link_to 'Finalizar con multa al inquilino anterior',  sistema_reportes_finalizar_multa_path(sistema_reporte),class:"btn btn-outline-danger" %>
              </div>
            <% end %>
          <%end%>

        </div>

      </div>
     
    </div>
  </div>
</div>
</div>
</div>

<style>
  .botones {
    margin-left: auto;
    margin-top: 20px;;
    padding-right: 10px;
    padding-bottom: 10px;
    gap: 10px;
  }

  .containerFoto {
    margin-top: 50px;
  }
</style>


</div>
