<p style="color: green"><%= notice %></p>

<%= render @su %>

<div>
  <%= link_to "Edit this su", edit_su_path(@su) %> |
  <%= link_to "Back to sus", sus_path %>

  <%= button_to "Destroy this su", @su, method: :delete %>
</div>
