<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<%= simple_form_for(@parametro) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="container-fluid justify-content-center" align="center">
      <div class="col-lg-7 ">
        <div class="card mb">
        <div class="card-body text-start">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nombre</p>
              </div>
              <div class="col-sm-9">
                <% if parametro.nombre != "Alquiler" && parametro.nombre != "Tiempo Extendido" && parametro.nombre != "Tiempo Excedido" then %>
                <%= f.input :nombre, required: true,autofocus: true, input_html: { autocomplete: "nombre" } %>
                <% else %>
                <%= f.input :nombre, required: true,disabled: true ,autofocus: true, input_html: { autocomplete: "nombre" } %>
                <% end %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Tipo</p>
              </div>
              <div class="col-sm-9">
                <% if parametro.nombre != "Alquiler" && parametro.nombre != "Tiempo Extendido" && parametro.nombre != "Tiempo Excedido" then %>
                <%= f.input :tipo, :as => :select, required: false,label: 'Tipo *', include_blank: false,:collection => Parametro.tipos.keys.to_a, input_html: {autocomplete: "tipo"}%>
                <% else %>
                <%= f.input :tipo, :as => :select, required: false,disabled: true,label: 'Tipo *', include_blank: false,:collection => Parametro.tipos.keys.to_a, input_html: {autocomplete: "tipo"}%> 
                <% end %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Monto</p>
              </div>
              <div class="col-sm-9">
                <%= f.input :monto, autofocus: true, input_html: { autocomplete: "monto" } %>
              </div>
            </div>
            <hr>
          </div>
            <div class="btn-group botonConf" role="group">
              <%= f.button :submit,'Guardar cambios',class:"btn btn-outline-success"%>
              <%= link_to "Volver a parametros",parametros_path,class:"btn btn-outline-secondary"%>          
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% end %>

<style>
.botonConf{
  margin-left: auto;
  padding: 7px;
  gap: 10px;
}
</style>