<div id="<%= dom_id parametro %>">
<div class="container-fluid justify-content-center" align="center">
      <div class="col-lg-7">
      <div class="card mb-4">
        <div class="card-body text-start">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Monto</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= parametro.monto %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nombre</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= parametro.nombre %></p>
              </div>
            </div>
            <hr>
           

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Tipo</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= parametro.tipo %></p>
              </div>
            </div>
            </div>
          </div>
          <div class="btn-group editBut" role="group" data-inline:"true">
            <% if current_user.admin? then%>
              <%= link_to "Editar",  edit_parametro_path(parametro.id), class:"btn btn-outline-secondary" %>
      
            <% end %>
          
          </div>
          
        </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
  
<style>
.botonDelete{
  margin-left: auto;
  padding: 5px;
}

.editBut{
  padding: 5px;
}
</style>

</div>

