<%= form_with(model: user) do |form| %>

  <div>
    <%= form.label "Nombre", style: "display: block" %>
    <%= form.text_field :name, value: current_user.name %>
  </div>

  <div>
    <%= form.label "Apellido", style: "display: block" %>
    <%= form.text_field :surname, value: current_user.surname %>
  </div>

  <div>
    <%= form.label "Fecha de nacimiento", style: "display: block" %>
    <%= form.date_field :birthdate, value: current_user.birthdate %>
  </div>


  <div>
    <%= form.label "Teléfono", style: "display: block" %>
    <%= form.text_field :phone, value: current_user.phone %>
  </div>

  <div>
    <%= form.label "DNI", style: "display: block" %>
    <%= form.text_field :dni, disabled: true, value: current_user.dni %>
  </div>

   <div>
    <%= form.label "Rol", style: "display: block" %>
    <%= form.text_field :Role, disabled: true, value: "su" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>



