<div id="<%= dom_id user %>">
  <div class="container-fluid justify-content-center">
    <div class="container-fluid alertValidation">
      <% if current_user.role=="driver" and !current_user.validado and current_user.validation==nil then %>
        <div class="alert alert-danger text-center fs-5" role="alert">
          <i class='bx bx-error'></i> Recorda que para poder alquilar debes estar validado.
          <%=link_to "Hace click acá para validarte" , new_validation_path, class:"text-danger" %>
        </div>
        <% else %>
          <% if current_user.role=="driver" and !current_user.validado then %>
            <div class="alert alert-warning text-center fs-5" role="alert">
              <i class='bx bx-loader'></i> Su licencia esta siendo verificada por un supervisor.
            </div>
            <% end %>
              <% end %>
    </div>



    <div class="container justify-content-center">
      <div class="col-lg">
        <div class="card text-center">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nombre</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                  <%= user.name %>
                </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Apellido</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                  <%= user.surname %>
                </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">DNI</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                  <%= user.dni %>
                </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Teléfono</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                  <%= user.phone %>
                </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Fecha de Nacimiento</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                  <%= user.birthdate %>
                </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Fecha de vencimiento de la Licencia</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                  <%= user.vencimiento_licencia %>
                </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                  <%= user.email %>
                </p>
              </div>
            </div>
            <% if (current_user.role=="su" or current_user.role=="admin" ) and user.role=="driver" then %>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Estado</p>
                </div>
                <div class="col-sm-9">
                  <% if user.validado? then %>
                    <p class="text-muted mb-0">Validado</p>
                    <% else %>
                      <p class="text-muted mb-0">No validado</p>
                      <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="btn-group botones" role="group">
            <%= button_to "Editar datos" , edit_user_path(@user), class:"btn btn-outline-primary" %>
            <!-- <%= link_to "Editar contraseña", edit_user_registration_path %> !-->
            <%= button_to "Eliminar cuenta", @user,:onclick => "return confirm('Esta seguro/a que desea eliminar la cuenta?')", method: :delete, class:"btn btn-outline-danger" %>
          </div>

        </div>

      </div>
      <% if user.validation != nil then %>
      <div class="card text-center containerFoto">
        <div class="container-fluid">
          <div>
            <h3 class="fs-4 text-start">Tu Licencia</h3>
          </div>
          <div class="container-fluid">
            <div class="row justify-content-center containerFoto">
              <%= image_tag(user.validation.licencia,class:"img-fluid",style:"width:40%")%>
              <%= image_tag(user.validation.dni,class:"img-fluid",style:"width:40%")%>
            </div>
          </div>
        </div>
        <div class="btn-group botones" role="group">
          <%= button_to "Actualizar Licencia" , edit_validation_path(user.validation), class:"btn btn-outline-primary" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>

<style>
  .botones {
    margin-left: auto;
    margin-top: 20px;;
    padding-right: 10px;
    padding-bottom: 10px;
    gap: 10px;
  }

  .containerFoto {
    margin-top: 50px;
  }
</style>

