<head>
  <link rel="stylesheet" href="/app/assets/stylesheets/left_sidebar.css">
</head>

<p style="color: green"><%= notice %></p>

<%= render @user %>
<%= @user.email %>

<div>
  <%= link_to "Editar tus datos", edit_user_path(@user) %> |

  <%= button_to "Eliminar tu cuenta", @user, method: :delete %>

  <% render "application/left_sidebar" %>
</div>
