<div class="py-2 d-print-none">
  <div id="<%= dom_id alquiler %>">
    <div class="container rounded bg-white mt-5 mb-5">
      <div class="card">
        <div class="row">
          <div class="col-md-5 border-right">
            <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="text-right">Información del vehículo</h4>
              </div>
              <div class="row mt-2">
                <div class="col-md-6"><label class="labels">Marca</label><p class="text-muted mb-0"><%= alquiler.car.marca %></div>
                <div class="col-md-6"><label class="labels">Modelo</label><p class="text-muted mb-0"><%= alquiler.car.modelo %></div>
              </div>
              <div class="row mt-3">
                <div class="col-md-12"><label class="labels">Patente</label><p class="text-muted mb-0"><%= alquiler.car.patente %></div>
                <div class="col-md-12"><label class="labels">Año</label><p class="text-muted mb-0"><%= alquiler.car.ano %></div>
                <div class="col-md-12"><label class="labels">Color</label><p class="text-muted mb-0"><%= alquiler.car.color %></div>
                <div class="col-md-12"><label class="labels">Transmisión</label><p class="text-muted mb-0"><%= alquiler.car.transmision %></div>
                <div class="col-md-12"><label class="labels">Capacidad</label><p class="text-muted mb-0"><%= alquiler.car.capacidad %></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 border-right">
            <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="text-right">Información del alquiler</h4>
              </div>
              <div class="col-md-12"><label class="labels">Horas</label><p class="text-muted mb-0"><%= alquiler.horas %></div>
              <div class="col-md-12"><label class="labels">Monto</label><p class="text-muted mb-0"><%= alquiler.monto %></div>
              <div class="col-md-12"><label class="labels">Cantidad de Ocupantes</label><p class="text-muted mb-0"><%= alquiler.cantidad_ocupantes %></div>
            </div>
          </div>
          <div class="btn-group botones" role="group">
            <%= link_to "Imprimir permiso de circulacion",href="", class:"btn btn-outline-secondary",onclick: "window.print()" %> 
            </div>
        </div>
      </div>
    </div>
  </div>
</div>  

<div class="d-none d-print-block" nowrap>
    <h1>Permiso de utilizaci&oacute;n de veh&iacute;culo - Alquilapp</h1>
    <hr>
    <p >La aplicaci&oacute;n Alquilapp, due&ntilde;a del veh&iacute;culo marca 
    <b><%= alquiler.car.marca %> </b>
    modelo 
   <b> <%= alquiler.car.modelo%> </b>
    , fabricado en el a&ntilde;o 
   <b> <%= alquiler.car.ano %> </b>
    , de patente 
   <b> <%= alquiler.car.patente %> </b>
    certifica que 
    <b><%= alquiler.user.name+" "+alquiler.user.surname%></b>
    de DNI N&uacute;mero 
  <b>  <%= alquiler.user.dni%> </b>
    en caracter de usuario de la aplicaci&oacute;n se encuentra habilitado para la utilizaci&oacute;n y circulaci&oacute;n en el veh&iacute;culo previamente mencionado junto con 
  <b> <%= alquiler.cantidad_ocupantes-1 %> </b>
    acompañante en el per&iacute;odo comprendido desde 
  <b>  <%= alquiler.created_at.gmtime - 3.hours%></b>
    hasta 
  <b>  <%= alquiler.end_date.gmtime%></p></b>
    <p>Fecha:</p>
  <b>  <%= alquiler.created_at.gmtime - 3.hours%></b>

</div>


<style>
.botonDelete{
margin-left: auto;
padding: 5px;
}

.editBut{
padding: 5px;
}

.botones {
  margin-left: auto;
  margin-top: 20px;;
  padding-right: 10px;
  gap: 10px;
}


</style>
