<% if (params[:format]) == nil %>
   <% aux = alquiler.car.id %> 
 <% else %>
   <% aux =  Car.find(params[:format]).id %> 
 <% end %> 

<%= simple_form_for(@alquiler) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="container rounded bg-white mt-5 mb-5">
<div class="card">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
              <%= image_tag(Car.find(aux).images[0]|| "BMWSerie3Negro.png",class:"rounded-circle mt-5",style:"width:200px")%>        
              <span class="font-weight-bold">Vehículo</span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Información del vehículo</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Marca</label><p class="text-muted mb-0"><%= Car.find(aux).marca %></div>
                    <div class="col-md-6"><label class="labels">Modelo</label><p class="text-muted mb-0"><%= Car.find(aux).modelo %></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Patente</label><p class="text-muted mb-0"><%= Car.find(aux).patente %></div>
                    <div class="col-md-12"><label class="labels">Año</label><p class="text-muted mb-0"><%= Car.find(aux).ano %></div>
                    <div class="col-md-12"><label class="labels">Color</label><p class="text-muted mb-0"><%= Car.find(aux).color %></div>
                    <div class="col-md-12"><label class="labels">Transmisión</label><p class="text-muted mb-0"><%= Car.find(aux).transmision %></div>
                    <div class="col-md-12"><label class="labels">Capacidad</label><p class="text-muted mb-0"><%= Car.find(aux).capacidad %></div>
                    <div class="col-md-12"><label class="labels">Tipo de Combustible</label><p class="text-muted mb-0"><%= Car.find(aux).tipo_de_combustible %></div>
                    <div class="col-md-12"><label class="labels">Porcentaje de Combustible</label><p class="text-muted mb-0"><%= Car.find(aux).porcentaje_combustible %></div>
                </div>
                <div class="mt-5 text-center">
                    <%= link_to "Atras", root_path, class:"btn btn-outline-secondary" %>
                    <%= f.button :submit,'Extender Alquiler',:onclick => "return confirm('Si confirma el alquiler se descontara el dinero de su cuenta')",class:"btn btn-outline-success"%>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
            <div class="form-inputs">
            <%= f.input :user_id, :as=> :hidden, input_html: {:value => current_user.id}%>
            <%= f.input :car_id, :as=> :hidden, input_html: {:value => aux }%>
            </div>
                <div class="d-flex justify-content-between align-items-center experience"><h4>Seleccione la duración extra</h4></div><br>
                <div class="col-md-12"><label class="labels">Precio por hora</label><p class="text-muted mb-0"><%= Parametro.first.tarifa %></div>
                <%= f.input :horas,collection: 1..24, required: false, include_blank: false, autofocus: true, input_html: { autocomplete: "1" } %>
            </div>
        </div>
        
    </div>
    </div>
</div>
<% end %>