<p style="color: green"><%= notice %></p>

<div class="container-fluid justify-content-center">
  <h1>Alquileres</h1>
  <div class="table-responsive">
  <table class="table table-hover">
  <thead class="table-light">
    <tr>
      <th class="text-center">Fecha</th>
      <th class="text-center">Patente del Vehículo</th>
      <th class="text-center">DNI Usuario</th>
      <th class="text-center">Duración</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @alquilers.order(:created_at).each do |alquiler| %>
      <tr>
        <td class="text-center">
          <%=h alquiler.created_at %>
        </td>
        <td class="text-center">
          <%=h alquiler.car_id %>
        </td>
        <td class="text-center">
          <%=h alquiler.user_id %>
        </td>
        <td class="text-center">
          <%=h alquiler.horas %>
        </td>
        <td class="text-center">
          <%=h alquiler.car.transmision %>
        </td>
        <td class="text-center">
          <div class="btn-group">
              <%= button_to "Ver detalle",alquiler_path(alquiler),class:"btn btn-secondary btn-sm" %>
              <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
               </button>
                 <ul class="dropdown-menu">
                   <% if current_user.admin? then %>
                    <%= button_to "Eliminar alquiler", car,:onclick => "return confirm('Esta seguro que desea eliminar permanentemente la información relacionada al alquiler?')", method: :delete, class:"dropdown-item" %>
                   <%end%>
                 </ul>
          </div>
        </td>
      </tr>
      <% end %>
  </tbody>

</table>
</div>
