<h1>Nuevo alquiler</h1>

 <%= Car.find(params[:format]).marca %>
 <%= Car.find(params[:format]).modelo %> 
 <%= Car.find(params[:format]).ano %>

<%= render "form", alquiler: @alquiler %>

<br>

<div>
  <%= link_to "Back to alquilers", alquilers_path %>
</div>
