<div class="py-2 d-print-none">
  <h2> Resumen del alquiler </h2>
</div>
<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<%= render @alquiler %>

<% if SistemaReporte.where(alquiler_id: @alquiler.id).count > 0   %>
  <h3 style="color: green"> Tienes un reporte realizado para este alquiler, puedes verlo  <%= link_to "aqui", sistema_reporte_url(SistemaReporte.where(alquiler_id: @alquiler.id).first.id)  %> </h3>
 
<% end %>

<div class="py-2 d-print-none">
  <div>
    <%# <%= link_to "Edit this alquiler", edit_alquiler_path(@alquiler) %> 
    <%= link_to "Volver a Mis Alquileres", alquilers_path %>

    <%# <%= button_to "Destroy this alquiler", @alquiler, method: :delete %> 
  </div>
<div>
