
<%= simple_form_for(@validacion) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.file_field :image %>
    <% f.number_field :current_user.id %>
  </div>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
