<p style="color: green"><%= notice %></p>

<%= render @validacion %>

<div>
  <%= link_to "Edit this validacion", edit_validacion_path(@validacion) %> |
  <%= link_to "Back to validacions", validacions_path %>

  <%= button_to "Destroy this validacion", @validacion, method: :delete %>
</div>
