<%= simple_form_for(@car) do |f| %>
  <% if car.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <section style="background-color: #ffffff;">
      <div class="col-lg-8">
      <div class="card mb-4">
        <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Marca</p>
              </div>
              <div class="col-sm-9">
                <%= f.input :marca, required: true, autofocus: true, input_html: { autocomplete: "marca" } %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Modelo</p>
              </div>
              <div class="col-sm-9">
                  <%= f.input :modelo, required: true, autofocus: true, input_html: { autocomplete: "modelo" } %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Año</p>
              </div>
              <div class="col-sm-9">
                <%= f.input :ano, required: true, autofocus: true, input_html: { autocomplete: "ano" } %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Color</p>
              </div>
              <div class="col-sm-9">
                <%= f.input :color, required: true, autofocus: true, input_html: { autocomplete: "color" } %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Transmision</p>
              </div>
              <div class="col-sm-9">
                 <%= f.input :transmision, collection: [['Manual'], ['Automatica']],required: true, autofocus: true, input_html: { autocomplete: "transmision" } %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Capacidad</p>
              </div>
              <div class="col-sm-9">
                 <%= f.input :capacidad, required: true, autofocus: true, input_html: { autocomplete: "capacidad" } %>
              </div>
            </div>
            <hr>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Tipo</p>
              </div>
              <div class="col-sm-9">
                <%= f.input :tipo, required: true, autofocus: true, input_html: { autocomplete: "tipo" } %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Disponible</p>
              </div>
              <div class="col-sm-9">
                <%= f.input :disponible, required: true, autofocus: true, input_html: { autocomplete: "disponible" } %>
              </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Patente</p>
              </div>
              <div class="col-sm-9">
                <%= f.input :patente, required: true, autofocus: true, input_html: { autocomplete: "patente" } %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Porcentaje de Combustible</p>
              </div>
              <div class="col-sm-9">
                <%= f.input :porcentaje_combustible, collection: 0..100, required: true, autofocus: true, input_html: { autocomplete: "porcentaje_combustible" } %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Tipo de combustible</p>
              </div>
              <div class="col-sm-9">
                <%= f.input :tipo_de_combustible, collection: [['Nafta'], ['Diesel'], ['GNC']],required: true, autofocus: true, input_html: { autocomplete: "tipo_de_combustible" } %>
              </div>
            </div>
          </div>
          <div class="botonConf">
            <%= form.button :submit, "Guardar cambios", class:"btn btn-outline-success" %>
          </div>
          <div class="botonConf">
            <%= form.button :submit, "Guardar cambios", class:"btn btn-outline-success" %>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <div>
     <%= f.button :submit %>
  </div>
<% end %>

<style>
.botonConf{
  margin-left: auto;
  padding-left: 5px;
}
</style>