<div class="container-fluid">
    <% if user_signed_in? then %>
        <div id="map" style="height: 600px;"></div>
        <% if current_user.role == "driver" and !current_user.validado then %>
            <%= button_to "Recorda que para poder alquilar debes estar validado. Hace click acá para validarte", new_validation_path, class:"btn btn-outline-danger" %>
        <% end %>
        <script>
            var array = [];
            <% Car.all.each do | car | %> 
                var obj = {
                latitude: <%= car.ubication.x %>,
                longitude: <%= car.ubication.y %>,
                tooltip: "Marca: <%= car.marca %>, Modelo: <%= car.modelo %>"
            }
            array.push(obj);
            <% end %>
                console.log(array);
            new Mapkick.Map("map", array, { zoom: 13 });
        </script>
    <% else %>
        <%= button_to "Ingresar ", new_user_session_path, class:"btn btn-outline-dark btn-lg" %>
        <%= image_tag("main.jpg", size: "100% 100%")%>
        <p style="background-image_tag('home.jpg');">

        
    <% end %>
</div>