<p style="color: green"><%= notice %></p>

<h1>Vehículos</h1>

<table class="table table-hover">

  <thead class="thead-dark">
    <tr>
      <th>Marca</th> 
      <th>Modelo</th> 
      <th>Año</th> 
      <th>Color</th> 
      <th>Transmision</th> 
      <th>Capacidad</th>
      <th>Tipo</th>
      <th>Disponible</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @cars.each do |car| %>
    <tr>
      <td><%=h car.marca %></td> 
      <td><%=h car.modelo %></td> 
      <td><%=h car.ano %></td> 
      <td><%=h car.color %></td>
      <td><%=h car.transmision %></td> 
      <td><%=h car.capacidad %></td>
      <td><%=h car.tipo %></td>
      <td><%=h car.disponible %></td>
      <td><%= link_to "Ver detalle", car %></td>
    </tr>
    <% end %>
</tbody>

</table>

<%= button_to "Agregar nuevo vehículo", new_car_path, class:"btn btn-outline-success" %>
