<p style="color: green"><%= notice %></p>

<%= render @car %>

<div>
  <%= button_to "Editar vehículo", edit_car_path(@car), class:"btn btn-outline-warning" %> 
  <%= button_to "Volver a vehículos", cars_path , class:"btn btn-outline-warning"%>

  <%= button_to "Eliminar vehículo", @car, method: :delete, class:"btn btn-outline-warning" %>
</div>
