<%= stylesheet_link_tag "login" %>

  <%= simple_form_for(@validation) do |f| %>
    <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                  <h5 class="card-title text-center mb-4 fw-light fs-5">Añadi tu licencia</h5>
                  <form>
                    <div class="form-floating mb-3">
                      <div class="input-group mb-3">
                        <%= f.input :image, class:"form-control", id:"inputGroupFile02"%>
                      </div>
                    </div>
                    <div class="form-floating mb-3">
                      <%= f.input :user_id, :as=> :hidden, input_html: {:value => current_user.id}%>
                    </div>
                    <hr class="my-4">
                    <div class="d-grid mb-2">
                      <%= f.button :submit, "Enviar Licencia", class:"btn btn-warning"%>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>