<%= stylesheet_link_tag "validations.css" %>
  <div class="container-fluid principal">
    <div class="row" style="gap: 10px;">
      <div class="col card left">
        <div class="text-center">
          <h2>Mis Validaciones</h2>
        </div>
        <table class="table table-hover">

          <thead class="thead-dark">
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>DNI</th>
              <th>Vencimiento de Licencia</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @validations.each do |validation| %>
              <% if validation.su_id==current_user.id  then %>
                <tr>
                  <td>
                    <%= validation.user.name %>
                  </td>
                  <td>
                    <%= validation.user.surname %>
                  </td>
                  <td>
                    <%= validation.user.dni %>
                  </td>
                  <td>
                    <%= validation.user.vencimiento_licencia %>
                  </td>
                  <td>
                  </td>
                  <td class="text-center">
                    <div class="btn-group">
                      <%= link_to "Ver validacion",validation,class:"btn btn-secondary btn-sm" %>
                      <% if validation.user.validado==false and !validation.borrado then %>
                      <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <!-- <span class="visually-hidden">Toggle Dropdown</span> -->
                      </button>
                      <ul class="dropdown-menu">
                        <%= link_to "Desasignar" , '/validations/desasignar?id=' + validation.id.to_s , class:"dropdown-item"%>
                        <%= link_to "Validar" , '/validations/validate?id=' + validation.id.to_s, class:"dropdown-item" %>
                        <!-- <%= button_to "Rechazar validacion", validation,:onclick => "return confirm('Esta seguro que desea rechazar la validacion?')", method: :delete, class:"dropdown-item" %> -->
                        <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          Rechazar validacion
                        </button>
                        
                      </ul>
                      <%end%>
                    </div>
                  </td>
                </tr>
                <% end %>
              </tbody>

              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Motivo de rechazo</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <%= simple_form_for(validation) do |f| %>
                        <%= f.input :description, required: true%>
                      </div>
                      <div class="modal-footer">
                        <%= f.button :submit, "Enviar Validacion", class:"btn btn-warning"%>
                          <% end %>
                      </div>
                  </div>
                </div>
              </div>
              <% end %>
       
          
        </table>
      </div>
      <div class="col card right">
        <div class="text-center">
          <h2>Validaciones</h2>
        </div>
        <table class="table table-hover">

          <thead class="thead-dark">
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>DNI</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @validations.each do |validation| %>
              <% if validation.su_id==nil then %>
                <tr>
                  <td>
                    <%= validation.user.name %>
                  </td>
                  <td>
                    <%= validation.user.surname %>
                  </td>
                  <td>
                    <%= validation.user.dni %>
                  </td>
                  <td class="text-center">
                    <div class="btn-group">
                      <%= link_to "Ver validacion",validation,class:"btn btn-secondary btn-sm" %>
                      <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <!-- <span class="visually-hidden">Toggle Dropdown</span> -->
                      </button>
                      <ul class="dropdown-menu">
                        <%= link_to "Asignarla" , '/validations/asignarse?id=' + validation.id.to_s, class:"dropdown-item" %>
                    </ul>
                  </div>
                  </td>
                </tr>
                <% end %>
                  <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<script>
  const myModal = document.getElementById('myModal')
  const myInput = document.getElementById('myInput')
  
  myModal.addEventListener('shown.bs.modal', () => {
    myInput.focus()
  })
</script>

  