<%= stylesheet_link_tag "validations.css" %>
  <div class="container-fluid principal">
    <div class="row">
      <div class="col card left">
        <div class="text-center">
          <h2>Mis Validaciones</h2>
        </div>
        <table class="table table-hover">

          <thead class="thead-dark">
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>DNI</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @validations.each do |validation| %>
              <% if validation.su_id==current_user.id and validation.user.validado == false then %>
                <tr>
                  <td>
                    <%= validation.user.name %>
                  </td>
                  <td>
                    <%= validation.user.surname %>
                  </td>
                  <td>
                    <%= validation.user.dni %>
                  </td>
                  <td>
                    <%= link_to "Validar" , '/validations/validate?id=' + validation.id.to_s %>
                  </td>
                  <td>
                    <%= link_to "Ver detalle" , validation %>
                  </td>
                </tr>
                <% end %>
                  <% end %>
          </tbody>

        </table>
      </div>
      <div class="col card right">
        <div class="text-center">
          <h2>Validaciones</h2>
        </div>
        <table class="table table-hover">

          <thead class="thead-dark">
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>DNI</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @validations.each do |validation| %>
              <% if validation.su_id==nil then %>
                <tr>
                  <td>
                    <%= validation.user.name %>
                  </td>
                  <td>
                    <%= validation.user.surname %>
                  </td>
                  <td>
                    <%= validation.user.dni %>
                  </td>
                  <td>
                    <%= link_to "Asignarla" , '/validations/asignarse?id=' + validation.id.to_s %>
                  </td>
                  <td>
                    <%= link_to "Ver detalle" , validation %>
                  </td>
                </tr>
                <% end %>
                  <% end %>
          </tbody>

        </table>
      </div>
    </div>

  </div>