<p style="color: green"><%= notice %></p>


<div class="container-fluid justify-content-center" align="center">
  <%= link_to "Historico", '/estadisticas/', class:"btn btn-outline-secondary" %>
  <%= link_to "Ultimos 7 días", '/estadisticas/index7', class:"btn btn-outline-secondary" %>
  <%= link_to "Ultimos 30 días", '/estadisticas/index30', class:"btn btn-outline-secondary" %>
</div>

<h1>Estadisticas</h1>

<div class="container-fluid justify-content-center" align="center">
  <h1><b> Estadisticas Alquileres </b></h1>

  <h3> Alquileres creados en los últimos 30 días </h3>
  <%= line_chart Alquiler.where(created_at: Date.today-30..Date.today).group_by_day(:created_at).count %>


 <!--  <%= pie_chart Alquiler.where(created_at: Date.today-30..Date.today).group(:car).count %> !-->


  <h3> Alquileres totales en los últimos 30 días: <%= Alquiler.where(created_at: Date.today-30..Date.today).count%></h3> 
  <h3> Cantidad de horas alquiladas en los últimos 30 días: <%= Alquiler.where(created_at: Date.today-30..Date.today ).sum(:horas) %></h3> 
  <h3> Promedio de horas alquiladas en los últimos 30 días: <%= (Alquiler.where(created_at: Date.today-30..Date.today).sum(:horas).to_f / Alquiler.where(created_at: Date.today-30..Date.today).count.to_f).to_f %></h3> 
</div>

<hr>

<div class="container-fluid justify-content-center" align="center">

  <h1> Estadisticas Autos </h1>
  <h3> Porcentaje de autos por modelo </h3>
  <%= pie_chart Car.group(:modelo).count %>
  <h3> Cantidad de autos: <%= Car.count %></h3> 
  <h3> Cantidad de autos habilitados: <%= Car.where(habilitado:true).count %></h3> 
  <h3> Cantidad de autos deshabilitados: <%= Car.where(habilitado: false).count %></h3> 
  <h3> Cantidad de autos en uso: <%= Car.where(disponible: false).count %></h3> 
  <h3> Cantidad de autos disponible: <%= Car.where(disponible: true).count %></h3> 

</div>

<hr>

<div class="container-fluid justify-content-center" align="center">

  <h1> Estadisticas Reportes en los últimos 30 días </h1>
  <h3> Reportes totales en los últimos 30 días: <%= SistemaReporte.where(created_at: Date.today-30..Date.today).count %></h3> 
  <h3> Cantidad de Reportes en atención actualmente:: <%= SistemaReporte.where(finalizado: false).count %></h3> 
  <h3> Cantidad de Reportes finalizados en los últimos 30 días: <%= SistemaReporte.where(created_at: Date.today-30..Date.today,finalizado: true).count %></h3> 

  <h3> Cantidad reportes por dia en los últimos 30 días:</h3> 
  <%= column_chart SistemaReporte.where(created_at: Date.today-30..Date.today).group_by_day_of_week(:created_at, format: "%a").count %>

</div>

<hr>
<div class="container-fluid justify-content-center" align="center">

  <h1> Estadisticas Supervisores </h1>
  <h3> Promedio en los últimos 30 días  de reportes atendidos por cada Supervisor:</h3>

  <% aux = SistemaReporte.where(created_at: Date.today-30..Date.today).group(:su_id).count.sum %>
   <% total=0 %>
   <% cantSu = User.where(role: "su").count %>
  <% if aux !=  0 %> 
    <% aux.each_slice(2) do |aux|%>
      <% total += aux[1].to_i %>
    <% end %>
    <%= total.to_f / cantSu %>
  <% else%>
    <h3> No se han atendido reportes en los ultimos 30 dias.</h3>
  <% end %>

</div>



