<!DOCTYPE html>
<html>
  <head>
    <title>Alquilapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Los voy a matar hijos de puta -->
    <!-- Falta TODO la re concha de sus madres. -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Fin -->


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="body">
    <%= render "application/left_sidebar" %>
    <%= yield %>
  </body>
</html>
