<%= stylesheet_link_tag "login" %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title text-center mb-4 fw-light fs-5">Registrarse</h5>
              <form>
                <div class="form-floating mb-3">
                  <div class="row">
                    <div class="col">
                      <%= f.input :name, label: 'Nombre',
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "name" }%>
                    </div>
                    <div class="col">
                      <%= f.input :surname, label: 'Apellido',
                                  required: true,
                                  autofocus: true, 
                                  input_html: { autocomplete: "surname" }%>
                    </div>
                  </div>
                </div>
                <div class="form-floating mb-3">
                  <%= f.input :birthdate, label: 'Fecha de nacimiento',start_year: Time.now.year - 100, end_year: Time.now.year-18,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "birthdate" }%> 
                </div>
                <div class="form-floating mb-3">
                  <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
                </div>
                <div class="form-floating mb-3">
                  <%= f.input :dni, as: :integer,
                  required: true,
                  autofocus: true,
                  input_html: {  maxlength: 8, autocomplete: "dni" }%>  
                </div>
                <div class="form-floating mb-3">
                  <%= f.input :phone, label: 'Telefono',
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "phone" }%>  
                </div>
                  <div class="form-floating mb-3">
                  <%= f.input :vencimiento_licencia, start_year: Time.now.year , end_year: Time.now.year+10,label: 'Fecha de vencimiento de la Licencia de conducir',
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "expirationdate" }%>  
                </div>
                <div class="form-floating mb-3">
                  <%= f.input :location_point, :as=> :hidden, required: true, autofocus: true%>  
                </div>
                <div class="form-floating mb-3">
                  <%= f.input :password, label: 'Contraseña',
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
                <p class="text-muted mb-0"> La contraseña debe tener entre 6 y 20 caracteres, contener al menos una minuscula y una mayuscula. </p>
                </div>
                <div class="form-floating mb-3">
                  <%= f.input :password_confirmation, label: 'Confirmar contraseña',
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
                </div>


                <div class="d-grid">
                  <%= f.button :submit, "Registrarse" , class:"btn btn-warning"%>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>


    <script>
	  navigator.geolocation.getCurrentPosition((pos) => {
	    document.querySelector("#monster_location_point").value =
	      `${pos.coords.latitude},${pos.coords.longitude}`;
	  });
	</script>